[include Config/SKR-mini-E3-V3.0-klipper.cfg]
[include Config/V0Display.cfg]
#[include Config/adxl.cfg]
[include Config/autotune.cfg]
[include Macros/*.cfg]
[include Config/ebb36.cfg]


[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 6000
max_z_velocity:21
max_z_accel: 25

[input_shaper]
shaper_freq_x: 95.2 #86.2 #65.2
shaper_type_x: mzv
shaper_freq_y: 88.2 #45.4
shaper_type_y: mzv

[gcode_arcs]
resolution: 0.05

[exclude_object]

[idle_timeout]
timeout: 1800

#[probe]
#pin: PC14 #^EBBCan:PB8
#x_offset: 0
#y_offset: -6
#z_offset: 0
#speed: 40.0
#samples: 2
#sample_retract_dist: 5.0
#lift_speed: 30.0
#samples_tolerance: 0.01
#samples_tolerance_retries: 15
#deactivate_on_each_sample: 0

#[bed_mesh]
#speed: 200
#horizontal_move_z: 25
#mesh_min: 25,25
#mesh_max: 95, 95
#probe_count: 3,3
#adaptive_margin: 5
#algorithm: bicubic
#fade_start: 1
#fade_end: 5
#fade_target: 0

#Sensor de zoffset

[servo probeServo]
pin: PA1
minimum_pulse_width: 0.000544
initial_angle: 120

[force_move]
enable_force_move: True

[respond]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.762
#*# pid_ki = 2.702
#*# pid_kd = 319.518
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 49.051
#*# pid_ki = 15.572
#*# pid_kd = 38.628
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.0050108398143339315
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.183125, 0.183750, 0.183125, 0.160000, 0.261875
#*# 	  0.194375, 0.191250, 0.134375, 0.155625, 0.301875
#*# 	  0.200000, 0.170000, 0.089375, 0.148750, 0.301250
#*# 	  0.195000, 0.157500, 0.116875, 0.144375, 0.248125
#*# 	  0.201250, 0.145000, 0.136875, 0.131875, 0.169375
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 7.0
#*# max_x = 108.0
#*# min_y = -17.0
#*# max_y = 72.0
#*#
#*# [probe]
#*# z_offset = 10.050
