[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6647C7403453537-if00
### To find the USB firmware ID, run: ls -l /dev/serial/by-id/
### Replace /dev/serial/by-id/usb-Klipper_rp2040_XXXXXXXXXXXXXXXXXXXXX with the ID you find

## ADXL345 Accelerometer
[adxl345]
cs_pin: adxl:gpio9
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    60, 60, 80  # This coordinate is where you want to measure, usually the center of the heated bed