[motor_constants siboor-35sth52-1204a_fixed]
#Siboor BOM Voron 0.2 steppers
resistance: 2.3
inductance: 0.0035
holding_torque: 0.36
max_current: 1.2
steps_per_revolution: 200

[motor_constants siboor-42sth26-0804a-200]
resistance: 5.50
inductance: 0.0066
holding_torque: 0.26
max_current: 1.00
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: siboor-35sth52-1204a_fixed
sg4_thrs: 116
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_y]
motor: siboor-35sth52-1204a_fixed
sg4_thrs: 125
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_z]
motor: siboor-42sth26-0804a-200
tuning_goal: performance
voltage: 24